.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    transition: visibility $transition, opacity $transition;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop-modal {
    position: relative;
    padding: 40px 40px;
    width: 450px;
    height: 609px;
    background-color: $main-back-color;
}

.backdrop-modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $header-link-color;
    margin-bottom: 12px;
}

.modal-label {
    position: relative;
    display: block;
}

.modal-label:not(:nth-child(4)) {
    margin-bottom: 10px;
}

.modal-label__name {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $main-color;
    margin-bottom: 4px;
}

.modal-label__input-icons {
    position: absolute;
    left: 11px;
    bottom: 11px;
}

.modal-label__input:hover+.modal-label__input-icons,
.modal-label__input:focus+.modal-label__input-icons {
    fill: $logo-leading-color;
}

.modal-label__input {
    display: flex;
    width: 370px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus,
    &:hover {
        border-color: $logo-leading-color;
    }
}

.modal-label__comment {
    display: flex;
    width: 370px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover {
        border-color: $logo-leading-color;
    }
}

.check-box {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color;
    width: 425px;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.check-box__wtf {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.check-box__span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.check-box__link {
    color: $logo-leading-color;
    text-decoration: underline;
}

.check-box__icon {
    position: relative;
    height: 15px;
    width: 16px;
    fill: $main-back-color;
    border: 2px solid $header-link-color;
    border-radius: 4px;
    padding: 0%;
    margin-right: 7px;
    cursor: pointer;
}


.check-box__wtf:checked+.check-box__icon {
    fill: $logo-leading-color;
    background-color: $logo-leading-color;
    border: 0px solid transparent;
}

.send-btn {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin: 0 auto;
    letter-spacing: 0.06em;
    color: $main-back-color;
    background-color: $logo-leading-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    border: none;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    align-items: center;
    justify-content: center;
    background-color: $main-back-color;
    border-color: rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus,
    &:hover path,
    &:focus path {
        cursor: pointer;
        fill: $logo-leading-color;
    }
}

@media screen and (max-width: $max-mobile) {
    .backdrop {
        position: absolute;
        margin-top: 93px;
    }

    .modal-label__input,
    .modal-label__comment {
        max-width: 100%;
    }

}

@media screen and (max-width: $mobile) {
    .backdrop-modal {
        width: 100vw;
    }

    .check-box {
        display: block;
    }

    .check-box__link {
        display: block;
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $tablet) {
    .backdrop {
        align-items: center;
    }
}

@media screen and (min-width: $desktop) {
    .backdrop {
        align-items: center;
    }
    .backdrop-modal {
        width: 528px;
        height: 581px;
    }
    .check-box__span {
        font-size: 14px;
        line-height: 1.71;
    }
    .modal-label__input,
    .modal-label__comment {
        width: 448px;
    }
}