body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
    background-color: $main-back-color;
    position: relative;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

@media screen and (max-width: $min-mobile) {
    .container {
        min-width: 320px;
        max-width: 449px;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: $min-mobile) {
    .container {
        width: 100vw;
    }
    .section {
        width: 100vw;
    }
}

@media screen and (min-width: $mobile) {
    .container {
        width: 400px;
    }
    
}

@media screen and (min-width: $min-tablet) and (max-width: $tablet) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: $desktop) {
    .container {
        width: 1200px;
    }
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }
}
