body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
    background-color: $main-back-color;
    position: relative;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
        margin: 0;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .logo {
        font-size: 24px;
        line-height: 1.17;
    }
}