.benefits__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits__list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $header-link-color;
    margin-bottom: 10px;
}

.benefits__list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color;
}

.benefits__background {
    display: block;
    text-align: center;
    background: $main-backgraund;
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__icon {
    margin: 25px 0;
}

@media screen and (max-width: $max-mobile) {
    .benefits__list {
        display: block;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: $min-tablet) {
    .benefits__item {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        padding: 0;
        gap: 30px;
    }

    .benefits__list {
        flex-basis: auto;
    }

    .benefits__background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 354px;
        height: 120px;
        background-color: $main-backgraund;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    .benefits__list-title {
        text-align: start;
    }

    .benefits__list-text {
        max-width: 354px;
    }
}

@media screen and (min-width: $desktop) {
    .benefits__item {
        flex-wrap: nowrap;
    }

    .benefits__list {
        flex-basis: calc(100% - (3 * 30px) / 4);
    }

    .benefits__background {
        width: 270px;
        height: 120px;
    }

    
}