.client {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}

.client__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $header-link-color;
    margin-bottom: 30px;
}

.client__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

.client__list {
    min-width: 210px;
    text-align: center;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid $border-link;
    border-radius: 4px;
    transition: border-color $transition;

    &:focus,
    &:hover {
        border-color: $logo-leading-color;
    }
}

.client__icon {
    fill: $border-link;
    transition: fill $transition;
}

.client__link:focus .client__icon,
.client__link:hover .client__icon {
    fill: $logo-leading-color;
}

@media screen and (min-width: $min-tablet) {
    .client__list {
        min-width: 226px;
    }
    .client__title {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: $desktop) {
    .client {
        width: 1200px;
    }

    .client__item {
        flex-wrap: nowrap;
    }

    .client__title {
        font-size: 36px;
        line-height: 1.17;
    }

    .client__list {
        min-width: 170px;
    }
}