.team {
    background-color: $main-backgraund;
    list-style-type: none;
    margin: 0 auto;
}

.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $header-link-color;
    text-align: center;
    margin-bottom: 50px;
}

.employee {
    list-style-type: none;
}

.employee__list {
    max-width: 270px;
    background-color: $main-back-color;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employee__block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $header-link-color;
    text-align: center;
    margin-bottom: 10px;
}

.employee__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $main-color;
    text-align: center;
}

.employee-contact {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 16px;
    gap: 10px;
}

.employee-contact__list {
    width: 44px;
    height: 44px;
}

.employee-contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color $transition;

    &:focus,
    &:hover {
        background-color: $logo-leading-color;
    }
}

.employee-contact__icon {
    fill: $border-link;
    transition: fill $transition;
}

.employee-contact__link:focus .employee-contact__icon,
.employee-contact__link:hover .employee-contact__icon {
    fill: $main-back-color;
}

@media screen and (max-width: $max-mobile) {
    .employee__list {
        max-width: 450px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: $min-tablet) {
    .employee {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 30px;
        padding: 0;
    }

    .employee__list {
        max-width: 354px;
    }
}

@media screen and (min-width: $desktop) {
    .employee {
        flex-wrap: nowrap;
    }
    .team__title {
        font-size: 36px;
        line-height: 1.17;
    }
}